*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* :root{
    scroll-behavior: smooth;
    --blue:blue;
} */


:root{
    scroll-behavior: smooth;
    --button:#0D5A5B;
}